doctype 5
html(lang="en")
  head
    link(href="https://github.global.ssl.fastly.net/assets/github2-de97f1b8c29a92ab22225717b1de2eb56b3516ce.css", media="all", rel="stylesheet", type="text/css")
  body
    #files.diff-view
      each file in parsedFiles
        .file
          .meta= file.name
          .data
            table.file-code.file-diff
              each line in file.lines
                if (line.type == 'chunk')
                  tr.file-diff-line.gc
                    td.diff-line-num ...
                    td.diff-line-num ...
                    td.diff-line-code= line.content
                else if (line.type == 'normal')
                  tr.file-diff-line
                    td.diff-line-num= line.deletionLineNum
                    td.diff-line-num= line.additionLineNum
                    td.diff-line-code= line.content
                else if (line.type == 'deletion')
                  tr.file-diff-line.gd
                    td.diff-line-num= line.deletionLineNum
                    td.diff-line-num.empty-cell
                      span.line-num-content &nbsp;
                    td.diff-line-code= line.content
                else if (line.type == 'addition')
                  tr.file-diff-line.gi
                    td.diff-line-num.empty-cell
                      span.line-num-content &nbsp;
                    td.diff-line-num= line.additionLineNum
                    td.diff-line-code= line.content
