doctype 5
html(lang="en")
  head
    style(type="text/css").
      body {
        font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco, "Bitstream Vera Sans Mono", monospace;
        font-size: 11px;
        color: #4a4a4a
      }
      .git-chunk {
        background-color: #ececec;
      }
      .git-deletion {
        background-color: #ffc4b4;
      }
      .git-insertion {
        background-color: #d4ffb4;
      }
        
  body
    #files.diff-view
      each file in parsedFiles
        .file
          .meta= file.name
          .data
            table.file-code.file-diff
              each line in file.lines
                if (line.type == 'chunk')
                  tr.file-diff-line.git-chunk
                    td.diff-line-num ...
                    td.diff-line-num ...
                    td.diff-line-code= line.content
                else if (line.type == 'normal')
                  tr.file-diff-line
                    td.diff-line-num= line.deletionLineNum
                    td.diff-line-num= line.additionLineNum
                    td.diff-line-code= line.content
                else if (line.type == 'deletion')
                  tr.file-diff-line.git-deletion
                    td.diff-line-num= line.deletionLineNum
                    td.diff-line-num.empty-cell
                      span.line-num-content &nbsp;
                    td.diff-line-code= line.content
                else if (line.type == 'addition')
                  tr.file-diff-line.git-insertion
                    td.diff-line-num.empty-cell
                      span.line-num-content &nbsp;
                    td.diff-line-num= line.additionLineNum
                    td.diff-line-code= line.content
